.has-wrapper {
  position: relative;
}
.has-input {
  border: none;
}
.has-icon {
  position: absolute;
  right: -0px;
  margin-right: 5px;
  top: 4px;
  font-size: 20px;
}
.login-input {
  display: block;
  width: 100%;
}

.icon {
  position: absolute;
  right: 1px;
  top: 4px;
  font-size: 20px;
  text-align: center;
}
